.home {
    padding: 80px 24px;
    .home_password {
        border-bottom: 1px solid #bbb;
    }
    .home_group {
        margin-top: 32px;
        display: flex;
    }
    .home_title {
        align-self: center;
        min-width: 100px;
        font-weight: 600;
        color: rgb(68, 0, 255);
    }
    .home_content {
        padding: 4px;
        flex: 1;
        height: 64px;
        outline: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    }
}